* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.App {
    background: linear-gradient(#07d1ef, #5f36f2, #0972fc);
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    padding: 0 20px; 
    color: white;
  }
  
.navbar-logo img {
    width: 15%; 
  }
  
.navbar-links {
    display: flex;
    justify-content: center;  
    flex-grow: 1;  
  }
  
  .navbar-links a {
    margin: 0 15px; 
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;  
    background-color: #38bea8;
  }
  
  .navbar-carrito {
    display: flex;
    align-items: center;  
    justify-content: flex-end;   }

  .navbar-carrito img {
    width: 40%;
  }
  

.numero-articulos {
    position: absolute;  
    color: rgb(253, 11, 11); 
    font-size: 15px;  
}

main {  
    background: linear-gradient( #498df2, #38bea8);   
}
  
.titulo-container {
    text-align: center; 
    font-size: 2.5rem; 
    color: white;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 20px; 
}

.card {
    display: grid; 
    grid-template-rows: auto 1fr auto;
    gap: 10px; 
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; 
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card--title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.card-price {
    font-size: 16px;
    color: #555;
    text-align: center;
}

.card-button {
    background-color: #47fbdd;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.card-button:hover {
    background-color: #498df2;
    transform: translate(-2px);
}

.card.button:active{
    transform: translate(0);
}